<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ "pageTitles.addLostAnimal" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="form" enctype="multipart/form-data">
    <ion-item-group>
      <ion-item>
        <ion-select label="{{'filters.postType' | translate}}"
                    label-placement="floating" formControlName="postType">
          <ion-select-option value="found">{{ "lostOptions.found" | translate }}</ion-select-option>
          <ion-select-option value="lost">{{ "lostOptions.lost" | translate }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item shape="round">
        <ion-input type="text" name="name" formControlName="name" label="{{ 'name' | translate }}:"
                   label-placement="floating"></ion-input>
      </ion-item>
    </ion-item-group>

    <ion-item-group>

      <ion-item>
        <ion-select label="{{'filters.animal_species' | translate}}"
                    label-placement="floating" formControlName="species">
          @for (species of species?.species; track species.id) {
            <ion-select-option value="{{species.id}}">{{ species.name | translate }}</ion-select-option>
          }
        </ion-select>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item>
        <ion-select label="{{'state' | translate}}"
                    label-placement="floating" formControlName="state">
          @for (species of species?.species; track species.id) {
            <ion-select-option value="{{species.id}}">{{ species.name | translate }}</ion-select-option>
          }
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-input type="text" name="city" formControlName="city" label="{{ 'city' | translate }}:"
                   label-placement="floating"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" name="place" formControlName="place" label="{{ 'getZone' | translate }}:"
                   label-placement="floating"></ion-input>
      </ion-item>


    </ion-item-group>

    <ion-item>
      <ion-textarea type="text" name="description" formControlName="description"
                    label="{{ 'description' | translate }}:" label-placement="floating" auto-grow></ion-textarea>
    </ion-item>

    @if (!Capacitor.isNativePlatform()) {
      <ion-button (click)="selectImage()" class="camera">
        <ion-icon name="camera"></ion-icon>
      </ion-button>
    } @else {
      <ion-button (click)="isModalOpen = true" class="camera">
        <ion-icon name="camera"></ion-icon>
      </ion-button>
    }
    @if (imageUrls.length > 0) {
    <ion-item>
        <div class="photos-container">
          @for (url of imageUrls; track url; let i = $index) {
            <div class="img-container">
              <img [src]="url"/>
              <img src="assets/icon/remove.png" class="delete" (click)="deleteImage(i)"/>
            </div>
          }
        </div>
    </ion-item>
    }
    <ion-button (click)="addAnimal()" class="add">{{ "add_adoption" | translate }}</ion-button>

  </form>

  @if (Capacitor.isNativePlatform()) {
    <!--Comprobamos si estamos en un dispositivo nativo para mostrar el modal -->
    <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]" class="modal" [isOpen]="isModalOpen">
      <ng-template>
        <ion-button (click)="selectImage('gallery')">{{ 'camera.fromGallery' | translate }}</ion-button>
        <ion-button (click)="selectImage('camera')">{{ 'camera.fromCamera' | translate }}</ion-button>
      </ng-template>
    </ion-modal>
  }


  <ion-toast
    [isOpen]="isToastOpen"
    message="{{ toastMessage | translate}}"
    [duration]="5000"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
</ion-content>
