<ion-header [translucent]="true">
  <ion-toolbar>
    @if(!notCropImage) {
      <ion-title>{{ "pageTitles.addLostAnimal" | translate }}</ion-title>
    } @else {
      <ion-title>{{ "pageTitles.cropImage" | translate }}</ion-title>
    }
    <ion-buttons slot="end">
      @if (notCropImage) {
        <ion-button (click)="cancelCrop()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-button (click)="cropImage()">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (!notCropImage) {
    <form [formGroup]="form" enctype="multipart/form-data">
      <ion-item-group>
        <ion-item>
          <ion-select label="{{'filters.postType' | translate}}"
                      label-placement="floating" formControlName="postType" id="postType">
            <ion-select-option value="found" >{{ "lostOptions.found" | translate }}</ion-select-option>
            <ion-select-option value="lost">{{ "lostOptions.lost" | translate }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item shape="round">
          @if (form.value['postType'] === 'lost') {
            <ion-input type="text" name="name" formControlName="name" label="{{ 'name' | translate }}:"
                       label-placement="floating"></ion-input>
          } @else {
            <ion-input type="text" name="name" formControlName="name" label="{{ 'title' | translate }}:"
                       label-placement="floating"></ion-input>
          }

        </ion-item>
      </ion-item-group>

      <ion-item-group>

        <ion-item>
          <ion-select label="{{'filters.animal_species' | translate}}"
                      label-placement="floating" formControlName="species">
            @for (specie of species; track specie.id) {
              <ion-select-option value="{{specie.id}}">{{ specie.name | translate }}</ion-select-option>
            }
          </ion-select>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item>
          <ion-select label="{{'country' | translate | titlecase}}"
                      label-placement="floating" formControlName="country" [value]="locationInfo.country.id" (ionChange)="changeStates()">
            @for (country of locationInfo.countries; track country.id) {
              <ion-select-option [value]="country.id">{{ country.name }}</ion-select-option>
            }
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select label="{{'state' | translate | titlecase}}"
                      label-placement="floating" formControlName="state" [value]="locationInfo.state.id">
            @for (state of locationInfo.states; track state.id) {
              <ion-select-option [value]="state.id">{{ state.name }}</ion-select-option>
            }
          </ion-select>
        </ion-item>


        <ion-item>
          <ion-input type="text" name="city" formControlName="city" label="{{ 'city' | translate }}:"
                     label-placement="floating"></ion-input>
        </ion-item>

        <ion-item>
          @if (form.value['postType'] === 'lost') {
          <ion-input type="text" name="place" formControlName="place" label="{{ 'lostZone' | translate }}:"
                     label-placement="floating"></ion-input>
          } @else {
            <ion-input type="text" name="place" formControlName="place" label="{{ 'pickZone' | translate }}:"
                       label-placement="floating"></ion-input>
          }

        </ion-item>


      </ion-item-group>

      <ion-item>
        <ion-textarea type="text" name="description" formControlName="description"
                      label="{{ 'description' | translate }}:" label-placement="floating" auto-grow></ion-textarea>
      </ion-item>

      @if (!Capacitor.isNativePlatform()) {
        <ion-button shape="round" (click)="selectImage()" class="camera">
          <ion-icon name="camera"></ion-icon>
        </ion-button>
      } @else {
        <ion-button shape="round" (click)="isModalOpen = true" class="camera">
          <ion-icon name="camera"></ion-icon>
        </ion-button>
      }
      @if (imageUrls.length > 0) {
        <ion-item>
          <div class="photos-container">
            @for (url of imageUrls; track url; let i = $index) {
              <div class="img-container">
                <img [src]="url"/>
                <img src="assets/icon/remove.png" class="delete" (click)="deleteImage(i)"/>
              </div>
            }
          </div>
        </ion-item>
      }
      <ion-button shape="round" (click)="addAnimal()" class="add">{{ "add_post" | translate }}</ion-button>

    </form>

    @if (Capacitor.isNativePlatform()) {
      <!--Comprobamos si estamos en un dispositivo nativo para mostrar el modal -->
      <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]" class="modal" [isOpen]="isModalOpen">
        <ng-template>
          <ion-button shape="round" (click)="selectImage('gallery')">{{ 'camera.fromGallery' | translate }}</ion-button>
          <ion-button shape="round" (click)="selectImage('camera')">{{ 'camera.fromCamera' | translate }}</ion-button>
        </ng-template>
      </ion-modal>
    }


    <ion-toast
      [isOpen]="isToastOpen"
      message="{{ toastMessage | translate}}"
      [duration]="5000"
      (didDismiss)="setOpen(false)"
    ></ion-toast>
  }

    <image-cropper
      #cropper
      [imageBase64]="notCropImage"
      [maintainAspectRatio]="true"
      [hideResizeSquares]="isMobile"
      [hidden]="notCropImage === ''"
      [aspectRatio]="4 / 3"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded($event)"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"

    ></image-cropper>






</ion-content>
