ion-item-group {
  border-radius: 20px;
  border: #938b8b 1px solid;
  padding: 5px;
  margin: 15px;

  .title {
    //margin: 0 0 10px 10px;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: bold;

  }
  div:not(.only) {
    display: flex;
    flex-direction: row;
    ion-input:first-of-type, .first {
      margin-left: 10px;
      margin-right: 5px;
    }
    ion-input:last-of-type, .second {
      margin-left: 5px;
      margin-right: 10px;
    }
    margin-bottom: 10px;
  }

  .only {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
