.container {
  margin: 10px;
  display: flex;
  flex-direction: column;

  .user-info {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-bottom: 10px;

    .profile-img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-right: 10px;
    }

    div {
      display: flex;
      flex-direction: column;
      align-self: center;
      width: 100%;

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        p {
          margin: 5px 0;
        }

      }
      p {
        margin: 5px 0;
      }

    }
  }

  .description {
    span {
      margin-bottom: 5px;
      display: block;
      font-weight: bold;
    }
    margin-bottom: 30px;
  }


  .save {
    margin-top: 30px;
    align-self: center;
  }

  .images-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    .images{
      display: flex;
      flex-direction: column;
      align-items: center;
      .add-image {
        width: 100px;
        height: 100px;
        border-radius: 20px;
      }
    }

  }
}

.option-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


