<ion-header [translucent]="true">
  <ion-toolbar>
    @if (!notCropImage) {
      <ion-title>{{ "pageTitles.profile" | translate }}</ion-title>
    } @else {
      <ion-title>{{ "pageTitles.cropImage" | translate }}</ion-title>
    }
    <ion-buttons slot="end">
      @if (notCropImage) {
        <ion-button (click)="cancelCrop()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-button (click)="cropImage()">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (!notCropImage) {
    @if (user !== null) {
      <div class="container">
        <div class="user-info">
          <img src="{{this.baseUrl}}/uploads/images/profiles/{{user.profile_image}}" class="profile-img"/>
          <div>
            <div>
              <p>{{ user.username }}</p>

              @if (!editMode && selectedUser.username === '') {
                <ion-buttons slot="end">
                  <ion-button shape="round" (click)="changeEditMode(true)">
                    Editar
                  </ion-button>
                </ion-buttons>
              }


            </div>
            <p>{{ user.name }}</p>
          </div>
        </div>
        @if (!editMode) {
          <div class="chips-info">
            @if (user.type === UserTypes.ASSOCIATION) {
              <ion-chip>
                <ion-label>Asociación</ion-label>
              </ion-chip>
              <ion-chip>
                <ion-label> Tiene en adopción:
                  @for (species of user.species; track species.id) {
                    @if (species.AsoSpecie.toAdopt) {
                      {{ species.name | translate }}
                    }
                  }
                </ion-label>
              </ion-chip>
            }
            @if (user.shelterHome) {
              <ion-chip>
                <ion-label>Casa de acogida
                  @if (user.type === UserTypes.ASSOCIATION) {
                    :
                    @for (species of user.species; track species.id) {
                      @if (species.AsoSpecie.toShelter) {
                        {{ species.name | translate }}
                      }
                    }
                  }</ion-label>
              </ion-chip>
            }

            @if (user.sponsors) {
              <ion-chip>
                <ion-label>Permite apadrinar</ion-label>
              </ion-chip>
            }

            @if (user.take_ins) {
              <ion-chip>
                <ion-label>Permite acoger</ion-label>
              </ion-chip>
            }
          </div>
        }

        @if (user.type === UserTypes.ASSOCIATION) {
          @if (selectedUser.username !== '') {
            <div class="images-container">
              <div class="images">
                <div>
                  <img src="{{this.imageUrls[0].url}}" class="add-image" (click)="addImageToSlot(0)" *ngIf="this.imageUrls[0].url !== 'assets/images/addImage.png'">
                  <img src="{{this.imageUrls[1].url}}" class="add-image" (click)="addImageToSlot(1)" *ngIf="this.imageUrls[0].url !== 'assets/images/addImage.png'">
                  <img src="{{this.imageUrls[2].url}}" class="add-image" (click)="addImageToSlot(2)" *ngIf="this.imageUrls[0].url !== 'assets/images/addImage.png'">
                </div>

                <div>
                  <img src="{{this.imageUrls[3].url}}" class="add-image" (click)="addImageToSlot(3)" *ngIf="this.imageUrls[0].url !== 'assets/images/addImage.png'">
                  <img src="{{this.imageUrls[4].url}}" class="add-image" (click)="addImageToSlot(4)" *ngIf="this.imageUrls[0].url !== 'assets/images/addImage.png'">
                  <img src="{{this.imageUrls[5].url}}" class="add-image" (click)="addImageToSlot(5)" *ngIf="this.imageUrls[0].url !== 'assets/images/addImage.png'">
                </div>
              </div>
            </div>
          } @else {
            <div class="images-container">
              <div class="images">
                <div>
                  <img src="{{this.imageUrls[0].url}}" class="add-image" (click)="addImageToSlot(0)" id="img0">
                  <img src="{{this.imageUrls[1].url}}" class="add-image" (click)="addImageToSlot(1)" id="img1">
                  <img src="{{this.imageUrls[2].url}}" class="add-image" (click)="addImageToSlot(2)" id="img2">
                </div>

                <div>
                  <img src="{{this.imageUrls[3].url}}" class="add-image" (click)="addImageToSlot(3)" id="img3">
                  <img src="{{this.imageUrls[4].url}}" class="add-image" (click)="addImageToSlot(4)" id="img4">
                  <img src="{{this.imageUrls[5].url}}" class="add-image" (click)="addImageToSlot(5)" id="img5">
                </div>
              </div>
            </div>
          }

          <div>

          </div>
        }

        @if (user.description !== '' || editMode) {
          <div class="description">
            <span>Descripción</span>

            @if (editMode) {
              <ion-textarea [(ngModel)]="user.description" placeholder="Descripción" fill="outline" color="primary"
                            rows="6"></ion-textarea>
              @if (user.type === UserTypes.ASSOCIATION) {
                <ion-select label="Especies que tiene en adopción" label-placement="floating" multiple="true"
                            [(ngModel)]="selectedAdoptions">
                  @for (species of speciesList; track species.id) {

                    <ion-select-option value="{{species.id}}">{{ species.name | translate }}</ion-select-option>
                  }
                </ion-select>
                <ion-select label="Especies que puede acoger" label-placement="floating" multiple="true"
                            [(ngModel)]="selectedShelters">
                  @for (species of speciesList; track species.id) {
                    <ion-select-option value="{{species.id}}">{{ species.name | translate }}</ion-select-option>
                  }
                </ion-select>
                <ion-toggle [checked]="user.shelterHome" justify="space-between"
                            (ionChange)="changeShelterHomeStatus()">
                  Casa de acogida
                </ion-toggle>
                <ion-toggle [checked]="user.take_ins" justify="space-between" (ionChange)="changeTakeInsStatus()">
                  Que se pueda acoger a mis animales
                </ion-toggle>
                <ion-toggle [checked]="user.sponsors" justify="space-between" (ionChange)="changeSponsorsStatus()">
                  Que se pueda apadrinar a mis animales
                </ion-toggle>
              } @else {
                <ion-toggle [checked]="user.shelterHome" justify="start" (ionChange)="changeShelterHomeStatus()">Casa de
                  acogida
                </ion-toggle>
              }
            } @else {
              {{ user.description }}
            }
          </div>
        }


      </div>
    }

    @if (Capacitor.isNativePlatform()) {
      <!--Comprobamos si estamos en un dispositivo nativo para mostrar el modal -->
      <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]" class="modal"
                 [isOpen]="isModalOpen">
        <ng-template>
          <ion-button shape="round" (click)="selectImage('gallery')">{{ 'camera.fromGallery' | translate }}</ion-button>
          <ion-button shape="round" (click)="selectImage('camera')">{{ 'camera.fromCamera' | translate }}</ion-button>
        </ng-template>
      </ion-modal>
    }
    <ion-toast
      [isOpen]="isToastOpen"
      message="{{ toastMessage | translate}}"
      [duration]="3000"
      (didDismiss)="setOpen(false)"
    ></ion-toast>
  }
  <image-cropper
    #cropper
    [imageBase64]="notCropImage"
    [maintainAspectRatio]="true"
    [hideResizeSquares]="isMobile"
    [hidden]="notCropImage === ''"
    [aspectRatio]="1"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded($event)"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"

  ></image-cropper>
</ion-content>
<ion-footer>
  @if (selectedUser.username === '') {
    @if (!editMode) {
      <ion-button shape="round" color="danger" (click)="logout()" expand="full">{{ "closeSession" | translate }}
      </ion-button>
    } @else if (!notCropImage) {
      <div class="option-buttons">
        <ion-button shape="round" class="save" (click)="changeEditMode(false)" color="danger">{{ "cancel" | translate }}
        </ion-button>
        <ion-button shape="round" class="save" (click)="saveChanges()">{{ "save" | translate }}</ion-button>
      </div>
    }
  }

</ion-footer>
