<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="selectors" >
    <ion-select placeholder="Tipo de animal" [multiple]="true">
      <ion-select-option value="dog">Perro</ion-select-option>
      <ion-select-option value="cat">Gato</ion-select-option>
      <ion-select-option value="bird">Pajaro</ion-select-option>
      <ion-select-option value="other">Otro</ion-select-option>
    </ion-select>

    <ion-select placeholder="Tipo de animal" [multiple]="true">
      <ion-select-option value="dog">Perro</ion-select-option>
      <ion-select-option value="cat">Gato</ion-select-option>
      <ion-select-option value="bird">Pajaro</ion-select-option>
      <ion-select-option value="other">Otro</ion-select-option>
    </ion-select>

    <ion-select placeholder="Tipo de animal" [multiple]="true">
      <ion-select-option value="dog">Perro</ion-select-option>
      <ion-select-option value="cat">Gato</ion-select-option>
      <ion-select-option value="bird">Pajaro</ion-select-option>
      <ion-select-option value="other">Otro</ion-select-option>
    </ion-select>

    <ion-select placeholder="Tipo de animal" [multiple]="true">
      <ion-select-option value="dog">Perro</ion-select-option>
      <ion-select-option value="cat">Gato</ion-select-option>
      <ion-select-option value="bird">Pajaro</ion-select-option>
      <ion-select-option value="other">Otro</ion-select-option>
    </ion-select>


  </div>

<ion-card>
  <img src="assets/images/perro.jpg">
  <ion-card-header>
    <ion-card-title>Paco</ion-card-title>
    <ion-card-subtitle>Pastor makinarias</ion-card-subtitle>
    <ion-card-content>Paco es un perro estupendo y muy amaigable, te queremos paco</ion-card-content>
    <ion-buttons>
      <ion-button fill="clear" class="card-button" shape="round" size="small" >
        <img src="assets/icon/black/adoption.png" slot="icon-only" alt="image of a dog">
      </ion-button>

      <ion-button fill="clear" class="card-button" shape="round" size="small" >
        <img src="assets/icon/black/adoption.png" slot="icon-only" alt="image of a dog">
      </ion-button>

      <ion-button fill="clear" class="card-button" shape="round" size="small" >
        <img src="assets/icon/black/adoption.png" slot="icon-only" alt="image of a dog">
      </ion-button>
    </ion-buttons>

  </ion-card-header>
</ion-card>

  <ion-card>
    <img src="assets/images/perro.jpg">
    <ion-card-header>
      <ion-card-title>Paco</ion-card-title>
      <ion-card-subtitle>Pastor makinarias</ion-card-subtitle>
      <ion-card-content>Paco es un perro estupendo y muy amaigable, te queremos paco</ion-card-content>
      <ion-buttons>
        <ion-button fill="clear" class="card-button" shape="round" size="small" >
          <img src="assets/icon/black/adoption.png" slot="icon-only" alt="image of a dog">
        </ion-button>

        <ion-button fill="clear" class="card-button" shape="round" size="small" >
          <img src="assets/icon/black/adoption.png" slot="icon-only" alt="image of a dog">
        </ion-button>

        <ion-button fill="clear" class="card-button" shape="round" size="small" >
          <img src="assets/icon/black/adoption.png" slot="icon-only" alt="image of a dog">
        </ion-button>
      </ion-buttons>

    </ion-card-header>
  </ion-card>

  <ion-card>
    <img src="assets/images/perro.jpg">
    <ion-card-header>
      <ion-card-title>Paco</ion-card-title>
      <ion-card-subtitle>Pastor makinarias</ion-card-subtitle>
      <ion-card-content>Paco es un perro estupendo y muy amaigable, te queremos paco</ion-card-content>
      <ion-buttons>
        <ion-button fill="clear" class="card-button" shape="round" size="small" >
          <img src="assets/icon/black/adoption.png" slot="icon-only" alt="image of a dog">
        </ion-button>

        <ion-button fill="clear" class="card-button" shape="round" size="small" >
          <img src="assets/icon/black/adoption.png" slot="icon-only" alt="image of a dog">
        </ion-button>

        <ion-button fill="clear" class="card-button" shape="round" size="small" >
          <img src="assets/icon/black/adoption.png" slot="icon-only" alt="image of a dog">
        </ion-button>
      </ion-buttons>

    </ion-card-header>
  </ion-card>



</ion-content>



