<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="flex">
  <div class="selectors" >
    <ion-select placeholder="Tipo de animal" [multiple]="true">
      <ion-select-option value="dog">Perro</ion-select-option>
      <ion-select-option value="cat">Gato</ion-select-option>
      <ion-select-option value="bird">Pajaro</ion-select-option>
      <ion-select-option value="other">Otro</ion-select-option>
    </ion-select>

    <ion-select placeholder="Edad">
      <ion-select-option value="cachorro">cachorro</ion-select-option>
      <ion-select-option value="joven">joven</ion-select-option>
      <ion-select-option value="adulto">adulto</ion-select-option>
      <ion-select-option value="todos">Todos</ion-select-option>
    </ion-select>

    <ion-select placeholder="Provincia" [multiple]="true">
      <ion-select-option value="Granada">Granada</ion-select-option>
      <ion-select-option value="Málaga">Málaga</ion-select-option>
      <ion-select-option value="Pontevedra">Pontevedra</ion-select-option>
      <ion-select-option value="Lugo">Lugo</ion-select-option>
    </ion-select>


  </div>
<div class="cards">
  @for (animal of animals; track animal.id) {
    <ion-card>
      <div class="profile-info">
        <img src="assets/images/{{ animal.user.profile_image}}">
        <span>{{animal.user.username}}</span>
      </div>
      <img src="assets/images/{{animal.images[0].url}}">
      <ion-card-header>
        <ion-card-title>{{ animal.name }}</ion-card-title>
        <ion-card-subtitle>{{ animal.breed }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>{{ animal.description }}</ion-card-content>
      <ion-buttons>
        <ion-button fill="clear" class="card-button" shape="round" size="small" >
          <img src="assets/icon/adoption_blue.png" slot="icon-only" alt="image of a dog">
        </ion-button>

        <ion-button fill="clear" class="card-button" shape="round" size="small" >
          <img src="assets/icon/adoption_blue.png" slot="icon-only" alt="image of a dog">
        </ion-button>

        <ion-button fill="clear" class="card-button" shape="round" size="small" >
          <img src="assets/icon/adoption_blue.png" slot="icon-only" alt="image of a dog">
        </ion-button>
      </ion-buttons>
    </ion-card>
  }

</div>





</ion-content>



