<script src="register.page.ts"></script>
<ion-header [translucent]="true">
  <ion-toolbar>
    @if (!notCropImage) {
      <ion-title>{{ "pageTitles.register" | translate }}</ion-title>
    } @else {
      <ion-title>{{ "pageTitles.cropImage" | translate }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="cancelCrop()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-button (click)="cropImage()">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      </ion-buttons>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (!notCropImage) {
    <form [formGroup]="form" enctype="multipart/form-data">

      <ion-item-group>
        <ion-item>
          <ion-select label="{{'userType' | translate}}"
                      label-placement="floating" formControlName="type" value="standard"
                      (ionChange)="changeUserType()" id="userType">
            <ion-select-option value="standard">{{ 'standard' | translate }}</ion-select-option>
            <ion-select-option value="association">{{ 'association' | translate }}</ion-select-option>

          </ion-select>

        </ion-item>

        @if (userType === 'standard') {
          <ion-item>
            <ion-input type="text" name="name" formControlName="name" label="{{ 'name' | translate }}:"
                       label-placement="floating"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" name="lastname" formControlName="lastname" label="{{ 'lastname' | translate }}:"
                       label-placement="floating"></ion-input>
          </ion-item>
        } @else {
          <ion-item>
            <ion-input type="text" name="name" formControlName="name" label="{{ 'associationName' | translate }}:"
                       label-placement="floating"></ion-input>
          </ion-item>

          <ion-item>
            <ion-select label="{{'speciesKept' | translate}}"
                        label-placement="floating" formControlName="species" value="standard"
                        id="animals" [multiple]="true">

              @for (species of speciesList; track species.id) {
                <ion-select-option value="{{species.id}}">{{ species.name | translate }}</ion-select-option>
              }

            </ion-select>
          </ion-item>
        }

      </ion-item-group>

      <ion-item-group>
        <ion-item>
          <ion-select label="{{'country' | translate}}"
                      label-placement="floating" formControlName="country" [value]="locationInfo.country.id"
                      (ionChange)="changeStates()">
            @for (country of locationInfo.countries; track country.id) {
              <ion-select-option [value]="country.id">{{ country.name }}</ion-select-option>
            }
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select label="{{'state' | translate}}"
                      label-placement="floating" formControlName="state" [value]="locationInfo.state.id">
            @for (state of locationInfo.states; track state.id) {
              <ion-select-option [value]="state.id">{{ state.name }}</ion-select-option>
            }
          </ion-select>
        </ion-item>
      </ion-item-group>

      <ion-item-group>

        <ion-item id="username">
          <ion-input type="text" name="username" formControlName="username"
                     label="{{ 'username' | translate }}:"
                     label-placement="floating"></ion-input>
        </ion-item>
        @if (usernameText) {
          <span class="error">{{ usernameText | translate }}</span>
        }
        <ion-item>
          <ion-input type="text" name="email" formControlName="email" label="{{ 'email' | translate}}:"
                     label-placement="floating"></ion-input>
        </ion-item>
        @if (emailText) {
          <span class="error">{{ emailText | translate }}</span>
        }
        <ion-item>
          <ion-input type="password" name="password" formControlName="password"
                     label="{{ 'password' | translate}}:"
                     label-placement="floating"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" name="confirmPassword" formControlName="confirmPassword"
                     label="{{ 'confirmPassword' | translate}}:"
                     label-placement="floating"></ion-input>
        </ion-item>
        @if (passText) {
          <span class="error">{{ passText | translate }}</span>
        }
      </ion-item-group>

      @if (userType === 'association') {
        <ion-item-group>
          <ion-label type="floating">{{ 'Acta fundacional' | translate }}:</ion-label>
          <ion-item>
            <input type="file" name="file" id="foundedAct"
                   accept="application/pdf" class="file">
          </ion-item>
        </ion-item-group>
      }
      <ion-item-group>
        <ion-label type="floating">Foto de perfil</ion-label>
        <ion-item>
          <div class="photos-container">
            <div class="img-container">
              @if (!Capacitor.isNativePlatform()) {
                @if (imageUrl === '') {
                  <img src="assets/icon/defaultUser.png" id="profile_image" (click)="selectImage()"/>
                } @else {
                  <img [src]="imageUrl" id="profile_image" (click)="selectImage()"/>
                  <img src="assets/icon/remove.png" class="delete" (click)="deleteImage()"/>
                }
              } @else {
                @if (imageUrl === '') {
                  <img src="assets/icon/defaultUser.png" id="profile_image" (click)="isModalOpen = true"/>
                } @else {
                  <img [src]="imageUrl" id="profile_image" (click)="isModalOpen = true"/>
                  <img src="assets/icon/remove.png" class="delete" (click)="deleteImage()"/>
                }
              }

            </div>
          </div>
        </ion-item>

      </ion-item-group>

      @if (Capacitor.isNativePlatform()) {
        <!--Comprobamos si estamos en un dispositivo nativo para mostrar el modal -->
        <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]" class="modal"
                   [isOpen]="isModalOpen">
          <ng-template>
            <ion-button shape="round" (click)="selectImage('gallery')">{{ 'camera.fromGallery' | translate }}
            </ion-button>
            <ion-button shape="round" (click)="selectImage('camera')">{{ 'camera.fromCamera' | translate }}</ion-button>
          </ng-template>
        </ion-modal>
      }

      <ion-button shape="round" (click)="addUser()" class="add">{{ "createAccount" | translate }}</ion-button>

      <ion-toast
        [isOpen]="isToastOpen"
        message="{{ toastMessage | translate}}"
        [duration]="5000"
        (didDismiss)="setOpen(false)"
      ></ion-toast>
    </form>
  } @else {
    <image-cropper
      #cropper
      [imageBase64]="notCropImage"
      [maintainAspectRatio]="true"
      [roundCropper]="true"
      [hideResizeSquares]="isMobile"
      [hidden]="notCropImage === ''"
      [aspectRatio]="1 / 1"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded($event)"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"

    ></image-cropper>
  }


</ion-content>
