

ion-item-group {
  margin-bottom: 20px;
}

#profile_image{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}


#username {
  //display: flex;
  //flex-direction: column;
  * {
    display: block;
  }
}
