<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ "pageTitles.requests" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (requests.length > 0) {
    <ion-list>
      @for (request of requests; track request.id) {
        <ion-item class="request">
          @if (request.applicant.profileImage !== '') {
            <img src="{{baseUrl}}/uploads/images/profiles/{{request.applicant.profileImage}}"
                 alt="imagen de perfil de {{request.applicant.username}}">
          } @else {
            <img src="{{baseUrl}}/uploads/images/profiles/defaultUser.png"
                 alt="imagen de perfil de {{request.applicant.username}}">
          }
          <div>
            @if (request.type === RequestType.ADOPTION) {
              <ion-text>{{ request.applicant.username }} {{ "requests.adopt" | translate }} {{ request.animal.name }}
                <span>{{ request.createdAt }}</span></ion-text>
            } @else if (request.type === RequestType.HOST) {
              <ion-text>{{ request.applicant.username }} {{ "requests.host" | translate }} {{ request.animal.name }}
                <span>{{ request.createdAt }}</span></ion-text>
            } @else if (request.type === RequestType.WANT_HOST) {
              <ion-text>{{ request.applicant.username }} {{ "requests.wantHost" | translate }} {{ request.animal.name }}
                <span>{{ request.createdAt }}</span></ion-text>
            } @else if (request.type === RequestType.REJECTED_ADOPTION) {
              <ion-text>{{ request.applicant.username }} {{ "requests.rejectAdoption" | translate }} {{ request.animal.name }}
                <span>{{ request.createdAt }}</span></ion-text>
            } @else if (request.type === RequestType.REJECTED_HOST) {
              <ion-text>{{ request.applicant.username }} {{ "requests.rejectHost" | translate }} {{ request.animal.name }}
                <span>{{ request.createdAt }}</span></ion-text>
            } @else if (request.type === RequestType.REJECTED_SPONSOR) {
              <ion-text>{{ request.applicant.username }} {{ "requests.rejectSponsor" | translate }} {{ request.animal.name }}
                <span>{{ request.createdAt }}</span></ion-text>
            }
            <ion-buttons>
              @if(request.type < 5 || request.type > 7){
                <ion-button slot="icon-only" shape="round">
                  <ion-icon name="send"></ion-icon>
                </ion-button>
                <ion-button slot="icon-only" shape="round" (click)="selectedRequest(request)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              } @else {
                <ion-button slot="icon-only" shape="round" (click)="markAsViewed(request)">
                  <ion-icon name="checkmark-outline"></ion-icon>
                </ion-button>
              }
            </ion-buttons>
          </div>
        </ion-item>
      }
    </ion-list>
  } @else {
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-xl="5" size-lg="6" size-md="9" size-xs="12">

          <p>{{ "requests.noRequests" | translate }}</p>

        </ion-col>
      </ion-row>
    </ion-grid>

  }


  <ion-alert
    header="{{ 'requests.rejectRequest' | translate }}"
    message="{{ 'requests.rejectRequestMessage' | translate }}"
    [buttons]="alertButtons"
    [isOpen]="selRequest"
  ></ion-alert>

</ion-content>
