<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Añadir adopción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="form" enctype="multipart/form-data">
    <ion-item-group >
      <ion-item shape="round">
        <ion-input type="text" name="name" formControlName="name" label="{{ 'name' | translate }}:"
                   label-placement="floating"></ion-input>
      </ion-item>

      <ion-item >
        <ion-input type="number" name="age" formControlName="age" label="{{ 'age' | translate }}:"
                   label-placement="floating"></ion-input>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item>
        <ion-select label="{{'filters.animal_species' | translate}}"
                    label-placement="floating" formControlName="species">
          @for (species of species?.species; track species.id) {
            <ion-select-option value="{{species.id}}">{{ species.name | translate }}</ion-select-option>
          }
        </ion-select>
      </ion-item>


      <ion-item >
        <ion-input type="text" name="breed" formControlName="breed" label="{{ 'breed' | translate }}:"
                   label-placement="floating"></ion-input>
      </ion-item>
    </ion-item-group>

    <ion-item>
      <ion-textarea type="text" name="description" formControlName="description"
                    label="{{ 'description' | translate }}:" label-placement="floating" auto-grow></ion-textarea>
    </ion-item>


    <ion-button (click)="selectImage()" class="camera"><ion-icon name="camera"></ion-icon></ion-button>

    <ion-item>
      @if (imageUrls.length > 0) {
        <div class="photos-container">
          @for (url of imageUrls; track url; let i = $index) {
            <div class="img-container">
              <img [src]="url"/>
              <img src="assets/icon/remove.png" class="delete" (click)="deleteImage(i)"/>
            </div>

          }
        </div>
      }

    </ion-item>

    <div class="checkers">
      <ion-checkbox justify="start" label-placement="end" formControlName="noParasite">{{ 'checks.no_parasite' | translate }}</ion-checkbox>
      <ion-checkbox justify="start" label-placement="end" formControlName="chip" >{{ 'checks.chip' | translate }}</ion-checkbox>
      <ion-checkbox justify="start" label-placement="end" formControlName="vaccinated" >{{ 'checks.vaccinated' | translate }}</ion-checkbox>
      <ion-checkbox justify="start" label-placement="end" formControlName="sterilized" >{{ 'checks.sterilized' | translate }}</ion-checkbox>
    </div>

    <ion-button (click)="addAnimal()">{{ "add_adoption" | translate }}</ion-button>

  </form>

  <ion-toast
    [isOpen]="isToastOpen"
    message="{{ toastMessage | translate}}"
    [duration]="5000"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
</ion-content>
