<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ "pageTitles.lostAnimals" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="flex">
  <div class="selectors">
    <ion-select placeholder="{{'filters.animal_species' | translate}}" [multiple]="true" [(ngModel)]="selectedSpecies" (ionChange)="cleanOffset()">
      @for (species of filters?.species; track species.id) {
        <ion-select-option value="{{species.id}}">{{ species.name | translate }}</ion-select-option>
      }
    </ion-select>

    <ion-select placeholder="{{ 'state' | translate}}" [multiple]="true" [(ngModel)]="selectedState" (ionChange)="cleanOffset()">
      @for (state of filters?.states; track state.id) {
        <ion-select-option value="{{state.id}}">{{ state.name }}</ion-select-option>
      }
    </ion-select>

    <ion-button shape="round" (click)="applyFilters()"> {{ "filters.apply" |translate }}</ion-button>

  </div>

  @if (animals.length === 0) {
    <p class="empty_animals"> {{ 'noLostAnimals' | translate }}</p>
  } @else {
    <div class="cards">

      @for (animal of animals; track animal.id) {
        <ion-card>
          <div class="profile-info">
            <img src="{{baseUrl}}/uploads/images/{{ animal.user.profile_image }}">
            <span>{{animal.user.username}}</span>
          </div>
          <swiper-container [pagination]="true">

            @for (image of animal.lostImages; track image.url) {
              <swiper-slide>
                <img src="{{baseUrl}}/uploads/images/lost/{{ image.url}}">
              </swiper-slide>
            }

          </swiper-container>

          @if (animal.lost === false) {
            <ion-card-header>
              <!--              Si lo sube quien lo perdió si que se pone el nombre si no se pone <especie animal> encontrado -->
              <ion-card-title>{{ animal.name }}</ion-card-title>
              <ion-card-subtitle>
                <span>Encontrado en: {{ animal.place }} - {{ animal.city }}</span>
              </ion-card-subtitle>
            </ion-card-header>
          } @else {
            <ion-card-header>
              <!--              Si lo sube quien lo perdió si que se pone el nombre si no se pone <especie animal> encontrado -->
              <ion-card-title>{{ animal.name }}</ion-card-title>
              <ion-card-subtitle>
                <span>Perdido por: {{ animal.place }} - {{ animal.city }}</span>
              </ion-card-subtitle>
            </ion-card-header>
          }
          <ion-card-content>{{ animal.description }}</ion-card-content>
          <ion-buttons>

            <ion-button fill="clear" class="card-button" shape="round" size="small">
              <img src="assets/icon/chat.png" slot="icon-only" alt="chat icon">
            </ion-button>

          </ion-buttons>
        </ion-card>
      }
    </div>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)" disabled="{{disableScroll}}">
      <ion-infinite-scroll-content>

      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  }

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/add-lost-animals']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>



